@font-face {
    font-family: 'new_walt_disney_uiregular';
    src: url('../font/newwaltdisneyui-8yda.woff2') format('woff2'),
         url('../font/newwaltdisneyui-8yda.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: new_walt_disney_uiregular;
    background-color: black;
}

header {
    text-align: center;
    border: 1px black solid;
    width: 450px;
    padding-bottom: 25px;
}

h2 {
    color: yellow;
}

.choices {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 450px;
    height: auto;
}

.picture {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    border-radius: 15px;
}

.yoursHouse {
    display: flex;
    margin-top: 5px;
    width: 195px;
    justify-content: space-evenly;
    color: white;
}

.results {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 450px;
    height: auto;
}

.r1 {
    display: flex;
    width: 195px;
    height: 40px;
    border: 1px black solid;
    align-items: center;
    justify-content: space-evenly;
    background-color: red;
}

.r2 {
    display: flex;
    width: 195px;
    height: 40px;
    border: 1px black solid;
    align-items: center;
    justify-content: space-evenly;
    background-color: red;
}

.buttons {
    display: flex;
    justify-content: space-around;
    width: 450px;

}

.button {
    height: 50px;
    width: 100px;
    font-family: new_walt_disney_uiregular;
}

